MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/kantongin_db
SECRET_KEY=your_jwt_secret_key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password
